{% extends 'base.html' %}
{% block title %}
    用户登录
{% endblock %}

{% block styles %}
    {{ super() }}
    <style>
        #container {
            padding-top: 20px;
            width: 1000px;
            height: 500px;
            margin: 0 auto;
        }
    </style>
{% endblock %}

{% block newcontent %}
    <div id="container">
        <h1 style="text-align: center">用户登录</h1>
        <form class="form-horizontal" action="{{ url_for('user.login') }}" method="post">
            <div class="form-group">
                <label for="username" class="col-md-2 col-md-offset-2 control-label">用户名</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="username" name="username" placeholder="请输入用户名">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-md-2 col-md-offset-2 control-label">密码</label>
                <div class="col-md-6">
                    <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码">
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-default col-md-3 col-md-offset-4">登&nbsp;&nbsp;&nbsp;&nbsp;录
                </button>
                <button type="reset" class="btn btn-default col-md-3">重&nbsp;&nbsp;&nbsp;&nbsp;置</button>
            </div>
        </form>
        {% if msg %}
            <p style="color: red">{{ msg }}</p>
        {% endif %}
    </div>
{% endblock %}
</body>
</html>

{% block scripts %}
    {{ super() }}
    <script>

    </script>
{% endblock %}